
<div class="container">
    <h1>{{title}}</h1>
    <br/>
    <form novalidate  (ngSubmit)="save()" [formGroup]="contactForm">

           

            <div class="form-group"
                [ngClass]="{'has-error': (  contactForm.get('email').touched || contactForm.get('email').dirty) &&
                                            !contactForm.get('email').valid }">

                <label for="email">Email address: </label>
                <input type="email" class="form-control" id="email" placeholder="email@gmail.com" formControlName = "email" >
                <span *ngIf="(contactForm.get('email').touched || contactForm.get('email').dirty) && contactForm.get('email').errors">
                    <span class="r" *ngIf="contactForm.get('email').errors.required">
                        Please enter your email address
                    </span>

                    <span class="r" *ngIf="contactForm.get('email').errors.pattern">
                        Please enter a valid email
                    </span>
                </span>

            </div>
        
           
            <div class="form-group" [ngClass]="{'has-error': (  contactForm.get('mobile').touched || contactForm.get('mobile').dirty) &&
                                                                !contactForm.get('mobile').valid }">
                <label for="mob">Mobile: </label>
                <input type="text" class="form-control" id="mob" placeholder="99994444" formControlName = "mobile">
                <span *ngIf="(contactForm.get('mobile').touched || contactForm.get('mobile').dirty) && contactForm.get('mobile').errors">
                        <span class="r" *ngIf="contactForm.get('mobile').errors.required || contactForm.get('mobile').errors.pattern">
                            Please enter a valid mobile number.
                        </span>
                </span>
            </div>
    
            <div class="form-group" [ngClass]="{'has-error': (  contactForm.get('message').touched || contactForm.get('message').dirty) &&
                                                                !contactForm.get('message').valid }">
                <label for="mess">Message: </label>
                <textarea class="form-control" id="mess" rows="5" placeholder="I would like to ask a question." formControlName="message"></textarea>
                <span *ngIf="(contactForm.get('message').touched || contactForm.get('message').dirty) && contactForm.get('message').errors">
                        <span class="r" *ngIf="contactForm.get('message').errors.required">
                            Please enter a Message.
                        </span>
                </span>
            </div>
            
        


   


        
            <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Submit</button>     
    </form>


</div>

