<div class="container">
    <div class='card'>
            <div class='card-header'>
            <h1>{{title}}</h1>
            </div>
            <div class='card-body'>
            <div class='row'>
                <div class='col-md-2'>Filter by:</div>
                <div class='col-md-4'>
                <input type='text'
                        [(ngModel)]='listFilter' />
                </div>
            </div>
            <div class='row'
                *ngIf='listFilter'>
                <div class='col-md-6'>
                <h4>Filtered by: {{listFilter}}</h4>
                </div>
            </div>
            <div class='table-responsive'>
            <table class='table'
                    *ngIf='members && members.length'>
                <thead>
                    <tr>
                        <th>Id card</th>
                        <th>name</th>
                        <th>surname</th>
                        <th>dob</th>
                        <th>nationality</th>
                        <th>gender</th>
                        <th>email</th>
                        <th>mobile</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let member of filteredMembers'>
                        <td>{{member.id}}</td>    
                        <td>{{member.name}}</td>    
                        <td>{{member.surname}}</td>    
                        <td>{{member.dob}}</td>    
                        <td>{{member.nationality}}</td>    
                        <td>{{member.gender}}</td>    
                        <td>{{member.email}}</td>    
                        <td>{{member.mobile}}</td>    
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>

        <div *ngIf='errorMessage'
            class='alert alert-danger'>
        Error: {{ errorMessage }}
        </div>
    </div>