<div class="container">
    <h1>{{title}}</h1>
    <br/>

    <form novalidate  (ngSubmit)="log()" [formGroup]="loginForm">

        <div class="form-group" [ngClass]="{'has-error': (  loginForm.get('email').touched || loginForm.get('email').dirty) &&
                                                            !loginForm.get('email').valid }">
            <label for="email">Email: </label>
            <input type="text" class="form-control" id="email" placeholder="joe200" formControlName = "email">
            
            <span *ngIf="(loginForm.get('email').touched || loginForm.get('email').dirty) && loginForm.get('email').errors">
                    <span class="r" *ngIf="loginForm.get('email').errors.required">
                        Please enter your email.
                    </span>

                    <span class="r" *ngIf="loginForm.get('email').errors.pattern">
                            Please enter a valid email
                    </span>
            </span>
        </div>


        <div class="form-group" [ngClass]="{'has-error': (  loginForm.get('pass').touched || loginForm.get('pass').dirty) &&
                                                            !loginForm.get('pass').valid }">
            <label for="pass">Password: </label>
            <input type="password" class="form-control" id="pass"  formControlName = "pass">
            
            <span *ngIf="(loginForm.get('pass').touched || loginForm.get('pass').dirty) && loginForm.get('pass').errors">
                    <span class="r" *ngIf="loginForm.get('pass').errors.required">
                        Please enter your password.
                    </span>
            </span>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>     
    </form>

</div>
