<div class="container">
    <h1>{{pageTitle}}</h1>
    <br/>
<form novalidate  (ngSubmit)="post()" [formGroup]="articleForm">

    <div class="form-group" [ngClass]="{'has-error': (  articleForm.get('title').touched || articleForm.get('title').dirty) &&
                                                                !articleForm.get('title').valid }">
        <label for="title">Title: </label>
        <input type="text" class="form-control"  id="title" placeholder="Sports Article" formControlName = "title">

        <span *ngIf="(articleForm.get('title').touched || articleForm.get('title').dirty) && articleForm.get('title').errors">
                <span class="r" *ngIf="articleForm.get('title').errors.required">
                    Please enter Article Title.
                </span>
        </span>
    </div>

    
    <div class="form-group" [ngClass]="{'has-error': (  articleForm.get('content').touched || articleForm.get('content').dirty) &&
                                                            !articleForm.get('content').valid }">
        <label for="content">Content: </label>
        <textarea class="form-control" id="content" rows="5" placeholder="I would like to ask a question." formControlName="content"></textarea>
        <span *ngIf="(articleForm.get('content').touched || articleForm.get('content').dirty) && articleForm.get('content').errors">
                <span class="r" *ngIf="articleForm.get('content').errors.required">
                    Please fill in the content.
                </span>
        </span>
    </div>



    <div class="form-group" [ngClass]="{'has-error': (  articleForm.get('image').touched || articleForm.get('image').dirty) &&
    !articleForm.get('image').valid }">
        <label for="image">Image: </label>
        <input type="file" class="form-control-file"  formControlName = "image" id="image">

        <span *ngIf="(articleForm.get('image').touched || articleForm.get('image').dirty) && articleForm.get('image').errors">
            <span class="r" *ngIf="articleForm.get('image').errors.required">
                Please enter an Image.
            </span>
        </span>
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="!articleForm.valid">Submit</button>
</form>
</div>

