<div class="container">
    <h1>{{title}}</h1>
    <br/>

    <form novalidate  (ngSubmit)="post()" [formGroup]="memberForm">

        
        <div class="form-group" [ngClass]="{'has-error': (  memberForm.get('id').touched || memberForm.get('id').dirty) &&
                                                            !memberForm.get('id').valid }">
            <label for="id">ID Card: </label>
            <input type="text" class="form-control"  id="id" placeholder="123456m" formControlName = "id">
            
            <span *ngIf="(memberForm.get('id').touched || memberForm.get('id').dirty) && memberForm.get('id').errors">
                    <span class="r" *ngIf="memberForm.get('id').errors.required">
                        Please enter your id card number.
                    </span>
            </span>
        </div>



        <div class="form-group" [ngClass]="{'has-error': (  memberForm.get('name').touched || memberForm.get('name').dirty) &&
                                                            !memberForm.get('name').valid }">
            <label for="name">Name: </label>
            <input type="text" class="form-control"  id="name" placeholder="Joe" formControlName = "name">
            
            <span *ngIf="(memberForm.get('name').touched || memberForm.get('name').dirty) && memberForm.get('name').errors">
                    <span class="r" *ngIf="memberForm.get('name').errors.required">
                        Please enter your Name.
                    </span>

                    <span class="r" *ngIf="memberForm.get('name').errors.minlength">
                        Name must be longer than 3 characters.
                    </span>

                    <span class="r" *ngIf="memberForm.get('name').errors.maxlength">
                        Name must be less than 20 characters.
                    </span>
            </span>
        </div>



         <div class="form-group" [ngClass]="{'has-error': (  memberForm.get('surname').touched || memberForm.get('surname').dirty) &&
                                                            !memberForm.get('surname').valid }">
            <label for="surname">Surname: </label>
            <input type="text" class="form-control"  id="surname" placeholder="Borg" formControlName = "surname">
            
            <span *ngIf="(memberForm.get('surname').touched || memberForm.get('surname').dirty) && memberForm.get('surname').errors">
                    <span class="r" *ngIf="memberForm.get('surname').errors.required">
                        Please enter your Surname.
                    </span>

                    <span class="r" *ngIf="memberForm.get('surname').errors.minlength">
                        Surname must be longer than 3 characters.
                    </span>

                    <span class="r" *ngIf="memberForm.get('surname').errors.maxlength">
                        Surname must be less than 20 characters.
                    </span>
            </span>
        </div>


        <div class="form-group" [ngClass]="{'has-error': (  memberForm.get('dob').touched || memberForm.get('dob').dirty) &&
                                                            !memberForm.get('dob').valid }">
            <label for="dob">Date Of Birth: </label>
            <input type="text" class="form-control"  id="dob" placeholder="1/07/1994" formControlName = "dob">
            
            <span *ngIf="(memberForm.get('dob').touched || memberForm.get('dob').dirty) && memberForm.get('dob').errors">
                    <span class="r" *ngIf="memberForm.get('dob').errors.required">
                        Please enter your date of birth card number.
                    </span>
            </span>
        </div>


        <div class="form-group" [ngClass]="{'has-error': (  memberForm.get('nationality').touched || memberForm.get('nationality').dirty) &&
        !memberForm.get('nationality').valid }">

            <label for="nationality">Nationality</label>
            <select class="form-control" id="nationality" formControlName = "nationality">
                <option value="malta">Malta</option>
                <option value="uk">UK</option>
                <option value="italy">Italy</option>
                <option value="usa">USA</option>
                <option value="canada">Canada</option>
            </select>

            <span *ngIf="(memberForm.get('nationality').touched || memberForm.get('nationality').dirty) && memberForm.get('nationality').errors">
                <span class="r" *ngIf="memberForm.get('nationality').errors.required">
                    Please enter your nationality.
                </span>
            </span>
        </div>



        <div class="form-group" [ngClass]="{'has-error': (  memberForm.get('gender').touched || memberForm.get('gender').dirty) &&
        !memberForm.get('gender').valid }">

            <label for="gender">Gender</label>
            <select class="form-control" id="gender" formControlName = "gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>

            <span *ngIf="(memberForm.get('gender').touched || memberForm.get('gender').dirty) && memberForm.get('gender').errors">
                <span class="r" *ngIf="memberForm.get('gender').errors.required">
                    Please enter your gender.
                </span>
            </span>
        </div>

        <div class="form-group" [ngClass]="{'has-error': (  memberForm.get('email').touched || memberForm.get('email').dirty) &&
                                        !memberForm.get('email').valid }">

            <label for="email">Email address: </label>
            <input type="email" class="form-control" id="email" placeholder="email@gmail.com" formControlName = "email" >
            <span *ngIf="(memberForm.get('email').touched || memberForm.get('email').dirty) && memberForm.get('email').errors">
                <span class="r" *ngIf="memberForm.get('email').errors.required">
                    Please enter your email address
                </span>

                <span class="r" *ngIf="memberForm.get('email').errors.pattern">
                    Please enter a valid email
                </span>
            </span>
        </div>


         <div class="form-group" [ngClass]="{'has-error': (  memberForm.get('mobile').touched || memberForm.get('mobile').dirty) &&
                                                            !memberForm.get('mobile').valid }">
            <label for="mob">Mobile: </label>
            <input type="text" class="form-control" id="mob" placeholder="99994444" formControlName = "mobile">
            <span *ngIf="(memberForm.get('mobile').touched || memberForm.get('mobile').dirty) && memberForm.get('mobile').errors">
                    <span class="r" *ngIf="memberForm.get('mobile').errors.required || memberForm.get('mobile').errors.pattern">
                        Please enter a valid mobile number.
                    </span>
            </span>
        </div>


        <button type="submit" class="btn btn-primary" [disabled]="!memberForm.valid">Add/Update</button>     
    </form>
</div>

