<div class="panel panel-primary">
        <div class="panel-heading">
            Sign Up!
        </div>
    
        <div class="panel-body">
            <form class="form-horizontal"
                  novalidate
                  (ngSubmit)="save()"
                  [formGroup]="customerForm">
                <fieldset>
                    <div class="form-group"
                        [ngClass]="{'has-error': (customerForm.get('firstName').touched || 
                                                  customerForm.get('firstName').dirty) &&
                                                  !customerForm.get('firstName').valid }">
                        <label class="col-md-2 control-label" 
                               for="firstNameId">First Name</label>
    
                        <div class="col-md-8">
                            <input class="form-control" 
                                   id="firstNameId" 
                                   type="text" 
                                   placeholder="First Name (required)" 
                                   formControlName="firstName" />
                            <span class="help-block" *ngIf="(customerForm.get('firstName').touched || 
                                                             customerForm.get('firstName').dirty) && 
                                                             customerForm.get('firstName').errors">
                                <span *ngIf="customerForm.get('firstName').errors.required">
                                    Please enter your first name.
                                </span>
                                <span *ngIf="customerForm.get('firstName').errors.minlength">
                                    The first name must be longer than 3 characters.
                                </span>
                            </span>
                        </div>
                    </div>
    
                    <div class="form-group"
                        [ngClass]="{'has-error': (customerForm.get('lastName').touched || customerForm.get('lastName').dirty) && !customerForm.get('lastName').valid }">
                        <label class="col-md-2 control-label" 
                            for="lastNameId">Last Name</label>
    
                        <div class="col-md-8">
                            <input class="form-control" 
                                   id="lastNameId" 
                                   type="text" 
                                   placeholder="Last Name (required)" 
                                   formControlName="lastName" />
                            <span class="help-block" *ngIf="(customerForm.get('lastName').touched || customerForm.get('lastName').dirty) && customerForm.get('lastName').errors">
                                <span *ngIf="customerForm.get('lastName').errors.required">
                                    Please enter your last name.
                                </span>
                                 <span *ngIf="customerForm.controls.lastName.errors.maxlength">
                                    The last name must be less than 20 characters.
                                </span>
                           </span>
                        </div>
                    </div>
    
                        <div class="form-group"
    
                        [ngClass]="{'has-error': (customerForm.get('email').touched || 
                        customerForm.get('email').dirty) &&
                        !customerForm.get('email').valid }">
    
                            <label class="col-md-2 control-label" 
                                for="emailId">Email</label>
    
                            <div class="col-md-8">
                                <input class="form-control" 
                                    id="emailId" 
                                    type="email" 
                                    placeholder="Email (required)" 
                                    formControlName = "email" />
                                    <span class="help-block" 
    
                                    *ngIf="(customerForm.get('email').touched || customerForm.get('email').dirty) && customerForm.get('email').errors">
                                        <span *ngIf="customerForm.get('email').errors.required">
                                            Please enter your email address
                                        </span>
                                        <span *ngIf="customerForm.get('email').errors.pattern">
                                            Please enter a valid email
                                        </span>
                                   </span>
                            </div>
                        </div>
    
                        
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <span>
                                <button class="btn btn-primary"
                                        type="submit"
                                        [disabled]="!customerForm.valid">
                                    Save
                                </button>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <br>Dirty: {{ customerForm.dirty }} 
    <br>Touched: {{ customerForm.touched }}
    <br>Valid: {{ customerForm.valid }}
    <br>Value: {{ customerForm.value | json }}