<div class="container">
    <h1>{{title}}</h1>
    <br/>

    <!--Video-->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WAZTZUgeLhQ?rel=0" allowfullscreen></iframe>
    </div>

   
</div>



