<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white">Welcome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/latestNews">Latest News</a>
      <a class="nav-item nav-link" routerLink="/aboutUs">About Us</a>
      <a class="nav-item nav-link" routerLink="/contactUs">Contact Us</a>
      <a class="nav-item nav-link" routerLink="/admin">Admin</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
