<div class="container" style=" width: 300px;">
    <h1 style="margin-bottom: 30px; margin-top: 30px;">{{title}}</h1>
    <form (ngSubmit)="post()" [formGroup]="registerForm"> 
        <div class = "formGroup">
        <mat-form-field class="example-full-width">
            <input matInput class="form-control" formControlName="email" placeholder="Username" value="">
        </mat-form-field>
        <br>
        </div>
        <div class = "formGroup">
        <mat-form-field class="example-full-width">
            <input matInput class="form-control" formControlName="password" placeholder="Password" value="">        
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Register</button>
        <!--<mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>-->
        </div>
    </form>

</div>  
