<div class="container">
    <h1>{{title}}</h1>
    <br/><br/>

    <mat-list dense role="list">
            <mat-list-item *ngFor="let a of articles">
                {{a.title}}  
            </mat-list-item>
     </mat-list>


     <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
</div>